<html>
<head>
<script type="text/javascript"
 src="http://code.jquery.com/jquery-1.9.1.js">
</script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
   <!--<canvas id="myCanvas" width="600" height="400"
     style="border:1px solid #000000;">
   </canvas> -->
   
<div id="container" style="height: 400px"></div>
<script type="text/javascript">
  var request;
  function Test(){
     if(request) {
       request.abort();
     }
     var request = $.ajax( {
       type: "GET",
       url: "stuff/",
       data: data
     });
     request.done(function(response, textStatus, jqXHR) {
       var chart1 = new Highcharts.Chart({
          chart: {
              renderTo: 'container',
              type: 'spline',
              zoomType: 'x',
          },
          title: {
              text: 'Smart Meter Data'
          },
          xAxis: {
              
              gridLineWidth: 1,
              type: 'datetime', 
              categories: response["PubDate"].reverse()
          },
          yAxis: {
              gridLineWidth: 1,
              title: {
                  text: 'Values'
              }
          },
          series: [{
              name: 'L1',
              data: response["L1"].reverse()
          }, {
              name: 'L2',
              data: response["L2"].reverse()
          }, {
	      name: 'L3',
	      data: response["L3"].reverse()
	      }]
      });
  });
  request.fail(function (jqXHR, textStatus, errorThrown){
        // log the error to the console
        console.error(
            "The following error occured: "+
            textStatus, errorThrown
        );
    });
  request.always(function () {
        // reenable the inputs
        console.log("stub stub stub");
    }); 
}

  function stopFunction()
  {
    clearInterval(interval);
    console.log("Stoped the stuff");
    document.getElementById("testing").innerHTML="Stoped";
  }
 $(document).ready(Test());
 //var interval = setInterval("Test()", 5000);
 
</script>
<form autocomplete="on" action="/export/" method="post">
  <input type="date" />
</form>


</body>
</html>
