<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="jquery.ui.datepicker-de.js"></script>
<script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="http://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
</head>
<body>
<script>
	$(document).ready(function () {
		$("#datepicker1").datepicker();
		$("#datepicker1").datepicker( $.datepicker.regional[ "de" ] );
		$("#datepicker2").datepicker();
		$("#datepicker2").datepicker( $.datepicker.regional[ "de" ] );
		$("#timepicker1").timepicker();
		$("#timepicker1").timepicker( $.timepicker.regional[ "de" ] );
		$("#timepicker2").timepicker();
		$("timepicker2").timepicker( $.timepicker.regional[ "de" ] );
	});
	var request;
	function doPlot() {
	var data = $("form").serialize();
	console.log(data);
	if(request) {
	  request.abort();
	}
	var request = $.ajax( {
	  type: "POST",
	  url: "/plot/",
	  data: data
	});
	request.done(function (response, textStatus, jqXHR){
	 var chart1 = new Highcharts.Chart({
          chart: {
              renderTo: 'container',
              type: 'spline',
              zoomType: 'x',
          },
          title: {
              text: 'Smart Meter Data'
          },
          xAxis: {
              
              gridLineWidth: 1,
              type: 'datetime', 
              categories: response["PubDate"].reverse()
          },
          yAxis: {
              gridLineWidth: 1,
              title: {
                  text: 'Values'
              }
          },
          series: [{
              name: 'L1',
              data: response["L1"].reverse()
          }, {
              name: 'L2',
              data: response["L2"].reverse()
          }, {
	      name: 'L3',
	      data: response["L3"].reverse()
	      }]
      });
	  var c=document.getElementById("myCanvas");
	  var ctx=c.getContext("2d");
	  //ctx.clearRect(0, 0, c.width, c.height);
	  var img= new Image();
	  img.src = response["Path"];
	  ctx.drawImage(img, 0, 0);
     
	   // log a message to the console
	  console.log(response["Path"]);
    });
   request.fail(function (jqXHR, textStatus, errorThrown){
        // log the error to the console
        console.error(
            "The following error occured: "+
            textStatus, errorThrown
        );
    });
     request.always(function () {
        // reenable the inputs
        console.log("stub stub stub");
    });
    }
</script>
<form autocomplete="on" onSubmit="JavaScript:doPlot()">
	{% csrf_token %}
  	<p>Startdatum: <input id="datepicker1" type="text" /> <input id="timepicker1" type="text" /></p>
  	<p>Enddatum: <input id="datepicker2" type="text" /> <input id="timepicker2" type="text" /></p>
  	<p>Aggregieren: <input id="aggregate" type="checkbox" /></p>
  	<p><input type="submit" value="Export" /></p>
</form>
<div id="container" style="height: 400px;display: none" ></div>
<canvas id="canvas" width="1000px" height="600px" style="display:none;"></canvas> 


</body>
</html>
