<html>
<head>
<script type="text/javascript"
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript">
 function Test() {
   var data = "Test";
   var request = $.ajax( {
     url: "/stuff",
     type: "post",
     data: data
   });
   request.done(function(response, textStatus, jqHXR) [{
     console.log("Hooray it worked");
   });
   request.fail(function (jqXHR, textStatus, errorThrown){
        // log the error to the console
        console.error(
            "The following error occured: "+
            textStatus, errorThrown
        );
    });
}
 
 
</script>
</head>
<body>
   <p> Test son of a bitch </p>
</body>
</html>
