<html>
<head>
<script type="text/javascript"
 src="http://code.jquery.com/jquery-1.9.1.js">
</script>
</head>
<body>
   <p id="testing"></p>
   <button onClick="stopFunction()">Stop the execution</button>
   
 <script type="text/javascript">
 var request
 function Test() {
   var data = "Test";
   if(request) {
    request.abort();
   }
   var request = $.ajax( {
     type: "GET",
     url: "stuff/",
     data: data
   });
   request.done(function (response, textStatus, jqXHR){
        // log a message to the console
        console.log(response);
    });
   request.fail(function (jqXHR, textStatus, errorThrown){
        // log the error to the console
        console.error(
            "The following error occured: "+
            textStatus, errorThrown
        );
    });
     request.always(function () {
        // reenable the inputs
        console.log("stub stub stub");
    });
  }

  function stopFunction()
  {
    clearInterval(myVar);
    console.log("Stoped the stuff");
    document.getElementById("testing").innerHTML="Stoped";
  }
 var myVar = setInterval("Test()", 5000);
 
</script>

</body>
</html>
