<html>
<head>
<script type="text/javascript"
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
</head>
<body>
   <p id="testing"></p>
   <button onClick="stopFunction()">Stop the execution</button>
   
 <script type="text/javascript">
 var myVar = setInterval(Test(), 5000);
 function Test() {
   var data = "Test";
   var request = $.ajax( {
     type: "POST",
     url: "/stuff",
     data: data
   });
   request.done(function(response, textStatus, jqHXR) {
     console.log("Hooray it worked");
   });
   request.fail(function (jqXHR, textStatus, errorThrown){
        // log the error to the console
        console.error(
            "The following error occured: "+
            textStatus, errorThrown
        );
    });
     request.always(function () {
        // reenable the inputs
        console.log("We failed terribly -.-");
    });
  }

  function stopFunction()
  {
    clearInterval(myVar);
    console.log("Stoped the stuff");
    document.getElementById("testing").innerHTML="Stoped";
  }
 
 
</script>

</body>
</html>
